<?xml version="1.0"?>
<launch>

  <param name="robot_description" textfile="$(find arm_description)/urdf/arm_real.urdf"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm_bringup)/config/rviz/view_arm.rviz" required="true" />
</launch>